h2 Write a new post
form(role='form')
  div.form-group
    label.control-label.col-md-2(for='title') Title:
    input.form-control(ng-model='form.title', name='title')

  div.form-group
    label.control-label(for='title') Body:
    textarea.form-control(ng-model='form.text', rows='15')
  button.btn-success(ng-click='submitPost()') Submit Post