fieldset
	legend 用户注册
	form#signup.form-horizontal(method="post",accept-charset="utf-8")
		div(ng-show="error") 用户信息重复
		div.field.form-group
			lable.control-label.col-md-1(for="username") 用户名
			div.col-md-2
				input#username.form-control(type="text", ng-model="form.username", name="username")
				span.error

		div.field.form-group
			lable.control-label.col-md-1(for="password") 密码
			div.col-md-2
				input#password.form-control(type="text", ng-model="form.password", name="password")
				span.error

		div.field.form-group
			lable.control-label.col-md-1(for="repeat-password") 重复密码
			div.col-md-2
				input#repeatPassword.form-control(type="text")
				span.error

		div.field.form-group
			lable.control-label.col-md-1 学号&nbsp;&nbsp;&nbsp;
			div.col-md-2
				input#studentId.form-control(type="text", name="studentId", ng-model="form.studentId")
				span.error

		div.field.form-group
			lable.control-label.col-md-1 电话&nbsp;&nbsp;&nbsp;
			div.col-md-2
				input#telephone.form-control(type="text",name="telephone", ng-model="form.telephone")
				span.error

		div.field.form-group
			lable.control-label.col-md-1 邮箱&nbsp;&nbsp;&nbsp;
			div.col-md-2
				input#email.form-control(type="text",name="email", ng-model="form.email")
				span.error

		div.field.form-group
			input.btn.btn-primary.col-md-1#reset(type="reset",value="重置")
			input#submit.btn.btn-primary.col-md-1(type="submit",ng-click='submitPost()',value="提交")


script(src="/javascripts/validator.js")
script(src="/javascripts/signup.js")