extends layout

block body
  div
    h2 My Blog
    ul
      li
        a(ng-href='/signin') 登录
      li
        a(ng-href='/signup') 注册
      li
        a(ng-href='/signout') 登出
    ul
      li
        a(ng-href='/') Home
      li
        a(ng-href='/addPost') Add a new post

    div(ng-view)

  script(src='javascripts/lib/angular/angular.js')
  script(src='javascripts/app.js')
  script(src='javascripts/services.js')
  script(src='javascripts/controllers.js')
  script(src='javascripts/filters.js')
  script(src='javascripts/directives.js')
